.app-wrapper {
    display: grid; 
    grid-template-rows: 81px 1fr 174px;  
    grid-template-columns:  repeat(3, 1fr);  
    grid-template-areas:    "header header header"
                            "list   list    list"
                            "footer footer  footer"
    ; 
    

  
}

/* @media (max-width: 510px) {
    app-wrapper{
        grid-template-rows: 81px 1fr 174px;  
        grid-template-columns:   1fr;  
        grid-template-areas:    " header"
                                "    list"
                                "  footer"
        ; 
    }
} */