.modal_form {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
   
  
}

@media (max-width: 630px) {
    .modal_form {
        display: inline-grid;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 20px;
      
    }
}

.input_param {
    width: 332px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    resize: none;
    color: #000000;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
}






.button_send_comment {
    width: 332px;
    height: 30px;
    background: #4997D0;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.button_send_comment:active {
    transition: 0s;
    background: #1a75b6;
}