.footer {
    grid-area: footer;
   
}

.footerLine{
    position: fixed;
    height: 0px;
    border: 1px solid #CCCCCC;
    left: 20px;
    right: 20px;
    bottom: 56px;
}

.footerText{
    position: fixed;
    bottom: 12px;
    left: 45%;
    margin-right: -50%;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #CCCCCC;
}