.modal_view {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(0,0,0, .7);
   
}





.modal_view.close {
    height: 0;
    display: none;
}


.modal_view.open {
    height: 100%;
}



.modal_body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 14px;
    padding: 30px;
    overflow: hidden;
    grid-template-rows:  300px 200px;  
    grid-template-columns:   400px 200px;   
    grid-template-areas:    "image_comment chat"
                            "input_form    chat"
                         
    ; 
    overflow: scroll
}


@media (max-width: 630px) {
    .modal_body{
        width: auto;
        height: auto;
        display: grid;
        grid-template-rows:  1fr ;  
        grid-template-columns:   1fr ;   
        grid-template-areas:    "image_comment "
                                "chat"
                                "input_form    ";
        /* width: 100vw; */
        
    }

    .modal_close {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
      
        /* font-style: lighter;
        font-weight: lighter;
        font-size: 32px;
        line-height: 22px; */
    }
    .image_modal {
        width: 3310px;
        height: 205px;
    }
}

.image_modal {
    width: 331px;
    height: 205px;
}


.modal_close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-style: lighter;
    font-weight: lighter;
    font-size: 32px;
    line-height: 22px;
}